// Main site
$body-bg: #222;
$headings-color: #eee;
$text-color: #ddd;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #d9534f;

$font-family-sans-serif:  "Passion One", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Passion One", Georgia, "Times New Roman", Times, serif !default;
