
body{
  background-image: url("../images/gaysok_poster.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 50%;
  color: #ddd;
}

